<!-- Button trigger modal -->
<button type="button" class="btn btn-primary float-end"
data-bs-toggle="modal" data-bs-target="#exampleModal"
(click)="addClick()" data-backdrop="static" data-keyboard="false">
  Add Employee
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
        (click)="closeClick()"></button>
      </div>
      <div class="modal-body">
        <app-add-edit [emp]="emp" *ngIf="ActiveAddEditEmpComp" ></app-add-edit>
      </div>
    </div>
  </div>
</div>



<!-- Employye Table -->
<table class="table table-hover">
  <thead>
    <tr>
      <!-- <th>Id</th> -->
      <th>Name</th>
      <th>Address</th>
      <th>Date of Birth</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let e of EmployeeList">
       <td hidden>{{e.ID}}</td>
      <td>{{e.Name}}</td>
      <td>{{e.Address}}</td>
      <td>{{e.DoB | date:'dd-MM-yy'}}</td>
      <td>
        <button type="button" class="btn btn-light mr-1" data-bs-toggle="modal" data-bs-target="#exampleModal"
        (click)="editClick(e)" data-backdrop="static" data-keyboard="false">Edit</button> |

        <button type="button" (click)="deleteClick(e)" class="btn btn-light mr-1"> Delete</button>
      </td>
    </tr>
  </tbody>
</table>



